*{
    padding:0;
    margin: 0;
    color:#164e63;
    font-family:'PT Sans', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.layout {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 150px repeat(3, 1fr)/ 250px repeat(2,1fr) 300px;
    background-color: #cffafe;
}

a>img {
    height: 1rem;
    width:auto;
}

/* sidebar section */
.sidebar {
    grid-row:1/5;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: 100px 300px 250px;
    gap: 45px;
    background-color:#0891b2;
}

.personal, .account{
    display: grid;
    justify-content: center;
    gap: 30px;
}


#dash-title {
    margin-top: 30px;
    color: #164e63;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    color:#ffffff ;
    text-shadow: 1px 1px 2px black;
}

a:hover {
    color:#164e63;
    text-shadow: none;
}

/* header section */
.header {
    grid-area: 1/2/2/5;
    display: grid;
    grid-template: 1fr 2fr/ 1fr 350px;
    box-shadow: 0px 2px 3px 0px;
    background-color: #22d3ee;
    margin-bottom: 20px;
}

#search{
    grid-area: 1/1/2/2;
    display: grid;
    grid-template: 1fr/ auto 1fr;
    justify-content: center;
    align-items: center;
}

#search> img {
    width: 35px;
    height: auto;
    margin: 5px;
}

#search> input {
    height: 2rem;
    border-radius: 15px;
    border: solid 1px black;
    margin-right: 20px;
}

.head-nav{
    grid-area: 1/2/3/3 ;
    display: grid;
    grid-template: 1fr 1fr/repeat(3,1fr);
    align-items: center;
}

#notification {
   justify-self: center; 
   height: auto;
   width: 3rem;
}

#profile {
    height: 70px;
    width:auto;
    padding-left: 20px;
    border-radius: 50%;
    background-color: #06b6d4;
    box-shadow: 0 1px 5px;
    justify-self: center;

}

.head-nav> button {
    height: 20px;
    border-radius: 15px;
    margin-right:20px;
    background-color: #22d3ee;
    height: 2rem;
    border: none;
    box-shadow: 1px 1px 5px;
}

button>a {
    font-size: 1rem;
}

button:hover {
    background-color: #0891b2;
}

.hello{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: 1fr 1fr/ 100px 1fr;
}

.hello>img{
    height: 70px;
    width:auto;
    padding-left: 20px;
    grid-area: 1/1/3/2;
    border-radius: 50%;
}

.hi{
    grid-area: 1/2/3/3;
}

/* content section */
.content {
    grid-area: 2/2/5/4;
    display: grid;
    overflow-y: auto;
    grid-template:  repeat(2, 200px) / repeat(2, 400px);
    grid-auto-rows: 200px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 20px;

}

.content::-webkit-scrollbar, .current::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .content, .current {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.card {
    display: grid;
    gap: 15px;
    grid-template: 1rem 1fr 1rem/ 1fr;
    align-items: center;
    border: solid 1px black;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 1px 2px 3px ;
    border-left:solid 10px #164e63;
    background-color: #ecfeff;
    height: 130px;
}

p>a {
    color: black;
    font-size: 1rem;
    text-shadow: none;
}

/* current section */

.current {
    grid-area: 2/4/5/5;
    overflow-y: auto;
    display: grid;
    grid-template: repeat(2,1fr)/ 250px;
    justify-content: center;
    gap: 40px;
    padding-bottom: 20px;
}
.title{
    margin:20px 0 20px;
}
.a-updated{
    display: grid;
    grid-template: repeat(3,1fr)/200px;
    gap: 20px;
    background-color: #ecfeff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 1px 2px 3px ;
    
}

.announcement {
    border-bottom: solid 1px #164e63;
}

.announcement>p {
    color: black;
    padding: 15px;
}
.t-updated{
    display: grid;
    grid-template: repeat(4,1fr)/200px;
    gap: 20px;
}

.trend{
    display: grid;
    grid-template: repeat(2,1fr)/ 70px 1fr;
    justify-content: center;
    align-items: center;
    background-color: #ecfeff;
    box-shadow: 1px 2px 3px ;
    border-radius: 15px;
}
.trend> img {
    height: 70px;
    border-radius: 50%;
    box-shadow: 0 1px 5px;

    grid-area: 1/1/3/1;
}
.msg {
    grid-area: 1/2/3/3;
}