*{
    padding:0;
    margin: 0;
}
.layout {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 150px repeat(3, 1fr)/ 250px repeat(3,1fr);

}

a>img {
    height: 1rem;
    width:auto;
}

.sidebar {
    border: solid 4px red;
    grid-row:1/5;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: 100px 300px 250px;
    gap: 40px;
}

.personal, .account{
    display: grid;
    justify-content: center;
    gap: 35px;
}

.header {
    border: solid 4px blue;
    
    grid-column: 2/5;
}

.content {
    border: solid 4px green;
    grid-area: 2/2/5/4;
}

.current {
    border: solid 4px purple;
    grid-area: 2/4/5/5;
}